<h1>Welcome, <%= @user.email %></h1>

<h3>Here are all your photos!</h3>

<% @images.each do |image| %>
  <a href='/users/<%= @user.id %>/images/<%= image.id %>'><%= image_tag image.upload.url %></a>
<% end %>

<%= link_to 'Add new image', new_user_image_path(@user) %>
