<!DOCTYPE html>
<html>
  <head>
    <title>FlickrClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notice %>
    <%= alert %>
    <% if current_user %>
       <%= link_to current_user.email, user_path(current_user) %> | <%= link_to "Sign out", destroy_user_session_path, :method =>'delete' %>
     <% else %>
       <%= link_to "Sign up", '/users/sign_up' %> | <%= link_to "Sign in", '/users/sign_in' %>
     <% end %>

    <%= yield %>
  </body>
</html>
